---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "contact";
---
<BaseLayout pageTitle={pageTitle}>
<html>
    
    <body>
        <p> teste tetstettttt test contact page</p>
    </body>

</html>	

</BaseLayout>