---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "";
---
<BaseLayout pageTitle={pageTitle}>

  <main>
    <section id="home">
          <div class="container">
            <div class="title-section">
                <h1>Hi! I'm Mariana, welcome to my Portfolio!</h1>
            </div>
            <div class="intro-section">
                <p>I'm a Digital Product Designer with a background in Social Sciences.</p>
                <a href="/about" class="btn-primary">Get to know more</a>
              </div>
        </div>
    </section>
  </main>

</BaseLayout>
