---
import Social from './Social.astro';
---
<style>
  footer {
    display: flex;
    gap: 1rem;
    margin: 2rem 0.5rem;
  }
</style>

<footer>
  <Social platform="Linkedin" username="/in/marianaelisagoncalves" />
  <Social platform="Instagram" username="redpurplevelvet" />
<section id="brand">
  <p>Mariana Gonçalves © 2024</p>
</section>
</footer>