---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #5b457d;
    text-decoration: none;
    margin: 80px;
    border: 20%;
  }
</style>